:root { /* Define custom variables */
  --main-color: #6b3f09; /* A custom variable for the main color */
  --black: #13131a; /* A custom variable for the color black */
  --bg: #402d12; /* A custom variable for background color */
  --border: .1rem solid rgb(95, 65, 6); /* A custom variable for border properties */
}

html {
    font-size: 62.5%; /* Setting the base font size to 62.5% of the default */
    overflow-x: hidden; /* Hiding horizontal overflow content */
    overflow-y: auto;
    scroll-padding-top: 9rem; 
    scroll-behavior: smooth; /* Setting smooth scrolling behavior */
  }
  
  /* Styling the scrollbar */
html::-webkit-scrollbar {
    width: .8rem;
  }
  
html::-webkit-scrollbar-track {
    background: transparent; /* Styling the scrollbar track with a transparent background */
  }
  
html::-webkit-scrollbar-thumb {
    background: #fff; /* Styling the scrollbar thumb with a white background */
    border-radius: .5rem; 
  }

*{
    margin: 0; padding: 0;
    box-sizing: border-box ;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}

.navbar-1{
    background-color: #31271c;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0; left: 0; right: 0;
    /* z-index: 2000; */
    padding: 0 3%;
    color: #e9e7de;
    font-family:sans-serif;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    text-transform: none;
}

.navbar-1 .left{
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-1 .div-line{
    height: 1.2rem;
    width: 1px;
    background-color: #e9e7de;
}

.social{
    width: 7.5rem;
    display: flex;
    justify-content: space-between;
}

.social i{
    font-size: 1.5rem;
}

.social i:hover{
    font-size: 1.8rem;
    color: #c7a17a;
}

.content p:hover{
    font-size: 1.3rem;
    font-weight: 400;
    color: #c7a17a;
}

.navbar-1 .right{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-2{
    font-family: 'Oswald', sans-serif;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3%;
    border-bottom: var(--border);
    position: fixed;
    top: 50px; left: 0; right: 0;
    /* z-index: 1000; */
    background-color: #f4f1ee;
}

.navbar-2 .logo{
    background-image: url('Images/2logo.png');
    background-size: cover;
    height: 50px;
    width: 150px;
}

.navbar-2 .nav-links a{
    color: #31271c;
    font-size: 1.6rem;
    font-weight: 900;
    margin: 0 1rem;
    letter-spacing: 0.1rem;
}

.navbar-2 .nav-links a:hover{
    color: #c7a17a;
    border-bottom: #c7a17a solid 1.5px;
    padding-bottom: 0.1rem;
}

.navbar-2 .icons i{
    color: #31271c;
    font-size: 2rem;
    margin: 0 1rem;
}

#menu-btn{
    display: none;
}

.navbar-2 .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: aqua;
    height: 5rem;
    width: 40rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.navbar-2 .search-form input{
    height: 100%;
    width: 100%;
    background: aqua;
    font-size: 1.8rem;
    padding: 1.5rem;
    color: #402d12;
    text-transform: none;
    cursor: pointer;
}

.navbar-2 .search-form label{
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: #13131a;
}
.navbar-2 .search-form label:hover{
    color: #c7a17a;
}

.carts-item-container{
    height: auto;
    width: 300px;
    background-color: #f4f1ee;
    /* background-color: coral; */
    position: absolute;
    right: 2%;
    top: 60px;
    border: 1px solid #31271c;
    /* display: none; */
    transform: scaleX(0);
    transform-origin: bottom;
}

.cart-content{
    padding: 0 2rem 2rem 2rem;
}

.cart-item-image{
    height: 10rem;
    width: 13rem;
    margin-right: 2rem;
    /* z-index: 5000; */ 
}

.cart-item-content{
    height: 10rem;
    width: 80%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cart-item{
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    border-bottom: 1px solid #31271c;
}

.cart-item-name{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1% 1.5%;
}

.cart-item-qnty{
    color: #c7a17a;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 2% 1.5%;
}

.cart-item-price{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1% 1.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.cart-total{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 5%;
    border-bottom: 1px solid #31271c;
}

.cart-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.cart-buttons button{
    background-color: #c7a17a;
    height: 4rem;
    width: 48%;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    letter-spacing: .05rem;
}

/* .icons #cart-btn:hover .carts-item-container{
    display: block;
} */

/* #cart-btn:hover .carts-item-container{
    transform: scaleX(100);
} */